body{
     position: relative;
}
.img-principal{     
     background-image: url(../IMG/ba1.jpg);
     height: 100vh;
     position: relative;
     max-width: 100%;
     background-size: cover;
     
}
.btn-comprar{
     background-color: #2eac49;
}

.color-tickets{
     color: #3a9b54;
}
.img-honolulu{
     background-color: #353A40;
}

.texto-honolulu{
     position: absolute;
     right: 8rem;
     top: 40%;
     max-width: 25%;
     
}
.estudiante{
     border-style:solid;
     border-color: blue;
}
.trainee{
     border-style:solid;
     border-color:green ;
}
.junior{
     border-style:solid;
     border-color: orange;
}
.total{
     background-color:#CCE5FF;
}    
.total-color{
    color: #353A40;
}
.btn-enviar{
     background-color: #9bd13e;
}
.footer{
     white-space: pre-line;
     display: flex;
     background-color: #1d445c;
     align-items: center;
}









